<div class = "card  col-md-12">
  <div class = "card-body">
    <form class = "col-md-12 d-flex justify-content-between align-items-center" [formGroup] = "searchForm">
      <input class = "form-control col-md-10" placeholder="Nhập tên công việc, vị trí ứng tuyển..." formControlName = "name">
      <button class = "btn col-md-2 btn-primary" (click) = "searchJob()"><i class="nc-icon nc-zoom-split"></i> Tìm kiếm</button>
    </form>
    
        
</div>
</div>
<div>
    <div class = "container">
      <div class = " row d-flex justify-content-between" >
        <div class = "col-md-6 pt-3 pl-1 pr-1" *ngFor = "let item of tintd" >
          <div class = "card" >
            <div class = "card-body d-flex col-md-12">
              <div class = "d-flex justify-content-start align-items-center col-md-3 pl-0">
                  <img 
                  src = {{item?.company?.avatarUrl}}>
              </div>
              <div class = "col-md-9 p-0 position-relative">
                <div class = "col-md-12 p-0 d-flex justify-content-between">
                  <div class = " col-md-11 p-0">
                      <h6 class = "card-title overflow-hide" title="{{item.name}}" style="font-size: 16px;">{{item.name}}</h6> 
                      
                    <h6 class = "card-title overflow-hide" title="{{item.companyName}}" style="font-size: 11px;">{{item.company.user.fullName}}</h6>
                    <!-- <div class = 'card-text overflow-hide' title="{{item.description}}">{{item.description}}
                    </div> -->
                      
                  </div>
                  <!-- <div  class = "col-md-1 p-0 d-flex justify-content-end">
                    <i class="far fa-heart" style = "font-size: 20px;" *ngIf = "toggle" (click) = "toggleHeart()"></i>
                    <i class="fas fa-heart" style = "font-size: 20px;" *ngIf = "!toggle"  (click) = "toggleHeart()"></i>
                  </div> -->
                </div>
                <div class = "d-flex justify-content-between col-md-12 p-0">
                  <span><i class="fas fa-dollar-sign"></i> {{item.income}}</span>
                  <span><i class="fas fa-history"></i> {{item.formOfWork}}</span>
                  <span><i class="fas fa-users"></i> {{item.quantity}}</span>
                </div>
                <div class = "d-flex justify-content-between col-md-12 p-0">
                  <span><i class="far fa-clock"></i> Cập nhật 19/04/2021</span>
                  <a (click)="sendData(item)" class = "text-primary">Xem chi tiết</a>
                </div>
              </div>
              
          </div>   
        </div> 
      </div>          
    </div>
    
</div>
