.b {
    display: flex;

    top: 50%;
    transform: translate(0px, 0px);
}
.card-text {
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis; 
}


.red {
    color: red;
}
.display-none {
    display: none;
}
