<div class = "card  col-md-12">
  <div class = "card-body">
    <form class = "col-md-12 d-flex justify-content-between align-items-center" [formGroup] = "searchForm">
      <input class = "form-control col-md-10" placeholder="Nhập tên công việc, vị trí ứng tuyển..." formControlName = "name">
      <button class = "btn col-md-2 btn-primary" (click) = "searchJob()"><i class="nc-icon nc-zoom-split"></i> Tìm kiếm</button>
    </form>
    <!-- <div class = " d-flex justify-content-end"   >
      <div class = "col-md-3 d-flex justify-content-end" >
        <i class="nc-icon nc-minimal-down"></i><label (click)="clickSearch()" *ngIf = "!toggleSearch"> Tìm kiếm nâng cao</label>
        <label (click)="clickSearch()" *ngIf = "toggleSearch"> Ẩn tìm kiếm nâng cao</label>
      </div>
    </div> -->
      <div class = "col-md-12 d-flex justify-content-between align-items-center p-0" *ngIf = "toggleSearch">
        <div class="col-md-3">
          <p class = "mb-1">Thời gian cập nhật</p>
          <select class="form-control">
            <option>Gần nhất</option>
            <option>Xa nhất</option>
          </select>
        </div>
        <div class="col-md-3">
          <p class = "mb-1">Ngành nghề</p>
          <select class="form-control">
            <option>Tất cả ngành nghề</option>
            <option>Công nghệ thông tin</option>
            <option>Lập trình Web</option>
            <option>4</option>
          </select>
        </div>
        <div class="col-md-3">
          <p class = "mb-1">Vị trí công ty</p>
          <select class="form-control">
            <option>Tất cả vị trí</option>
            <option>Cầu Giấy</option>
            <option>Nam Từ Liêm</option>
            <option>Hai Bà Trưng</option>
          </select>
        </div>
        <div class="col-md-3">
          <p class = "mb-1">Loại hình làm việc</p>
          <select class="form-control">
            <option>Tất cả</option>
            <option>Fulltime</option>
            <option>Partime</option>
            <option>Hải Dương</option>
          </select>
        </div>
      </div>
  </div>
        
</div>
<div>
    <div class = "container">
      <div class = " row d-flex justify-content-between" >
        <div class = "col-md-6 pt-3 pl-1 pr-1" *ngFor = "let item of tintd, let i = index" >
          <div class = "card" >
            <div class = "card-body d-flex col-md-12">
              <div class = "d-flex justify-content-start align-items-center col-md-3 pl-0">
                  <img 
                  src = {{item.company.avatarUrl}}>
              </div>
              <div class = "col-md-9 p-0 position-relative">
                <div class = "col-md-12 p-0 d-flex justify-content-between">
                  <div class = " col-md-11 p-0">
                      <h6 class = "card-title overflow-hide" title="{{item.name}}" style="font-size: 16px;">{{item.name}}</h6> 
                      
                    <h6 class = "card-title overflow-hide" title="{{item.companyName}}" style="font-size: 11px;">{{item.company.user.fullName}}</h6>
                    <!-- <div class = 'card-text overflow-hide' title="{{item.description}}">{{item.description}}
                    </div> -->
                      
                  </div>
                  <!-- <div  class = "col-md-1 p-0 d-flex justify-content-end">
                    <i class="far fa-heart" style = "font-size: 20px;" *ngIf = "toggle" (click) = "toggleHeart()"></i>
                    <i class="fas fa-heart" style = "font-size: 20px;" *ngIf = "!toggle"  (click) = "toggleHeart()"></i>
                  </div>-->
                </div> 
                <div class = "d-flex justify-content-between col-md-12 p-0">
                  <span title = "Mức lương: {{item.income}}"><i class="fas fa-dollar-sign"></i> {{item.income}}</span>
                  <span title = "Hình thức làm việc: {{item.formOfWork}}"><i class="fas fa-history"></i> {{item.formOfWork}}</span>
                  <span title = "Số lượng cần tuyển: {{item.quantity}}"><i class="fas fa-users"></i> {{item.quantity}}</span>
                </div>
                <div class = "d-flex justify-content-between col-md-12 p-0">
                  <span><i class="far fa-clock"></i> Cập nhật {{item.startTime| date: "dd/MM/yyyy"}}</span>
                  <a (click)="sendData(item)" class = "text-primary">Xem chi tiết</a>
                </div>
              </div>
              
          </div>   
        </div> 
      </div>          
    </div>
    <div class = "d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item" *ngFor="let item of pageArr"><a class="page-link" href="#">{{item}}</a></li>
              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
        </nav>
    </div>
</div>
