<div>
<div class = "cover">
    <div style = "height: 256px"></div>
    <div class = "d-flex justify-content-between align-items-center form-control bg-light">
        <div class = "col-md-3 d-flex justify-content-start align-items-center div-ava">
            <img class = "ava"
                src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFx0pzEoOcvEJv49Qe2cDBGaa8nL2UtCsGQ&usqp=CAU">
        </div>
        <div class = "col-md-7">
            <h2 class = "mb-4 pb-0">{{data?.fullName}}</h2>
            <p ><i class="nc-icon nc-pin-3"></i> Địa chỉ: {{data?.address}}</p>
        </div>
        <div class = "col-md-2">
            <button class = "btn btn-outline-primary col-md-12">Theo dõi</button>
            <button class = "btn btn-primary col-md-12" (click)="goToMessage()">Nhắn tin</button>
        </div>
        
        
    </div>
</div>
    <div class = "pt-3 pb-0 mb-0">
        <ul class = "nav">
            <li class = "nav-item mr-3"  [ngClass]="{cssClick: isIntroTab}">
                <div (click)="changeTab(0)" style = "font-size: 23px;">Giới thiệu</div>
                
            </li>
            <li class = "nav-item" [ngClass]="{cssClick: !isIntroTab}">
                <div (click)="changeTab(1)"  style = "font-size: 23px;">Tuyển dụng</div>
        </li>
        </ul>
        <hr class = "mt-0 pt-0">
    </div>

    <div class = "d-flex container-fluid pl-0 pr-0 justify-content-between">
        <div class = "col-md-8">
            <app-introduction [data]="data" *ngIf="isIntroTab"></app-introduction>
            <app-news-of-company [id]="data?.company?.id" *ngIf="!isIntroTab"></app-news-of-company>
        </div>
        <div class = "col-md-4">
            <div class = "card">
                <div class = "card-header">
                    <h3 class = "mb-0">Đánh giá</h3>
                    <hr>
                </div>
                <div class="card-body" style="line-height: 25px;">
                    <div style="display: flex;">
                        <input class = "form-control" style="height: 40px;" placeholder="nhập đánh giá" [(ngModel)]="content">
                        <button type="button" class="btn btn-primary" style="margin: 0;margin-left:8px;height: 40px;width: 48%;padding: 4px;" (click)="addRate()">Gửi</button>
                    </div>
                    <hr>
                    <div *ngFor="let rate of data?.company?.rates">
                        <div style="font-weight: bold;"> <i class="fas fa-star"></i> {{rate.namePerson}}</div>
                        <div>{{rate.content}}</div>
                        <div style="font-size: 12px;"><i class="fas fa-history"></i> {{rate.createdDate | date: "dd/MM/yyyy"}}
                            <!-- {{rate.createdDate}} -->
                        </div>
                        <hr>
                </div>
            </div>
        </div>
    </div>
    
</div>
