<div class = "card col-md-12 pb-3">
    <div class = "">
        <form *ngIf="!toggleSearch" class = "col-md-12 d-flex justify-content-between align-items-center"[formGroup]="form">
          <input class = "form-control col-md-10" placeholder="Nhập tên seminar, tên doanh nghiệp" formControlName = "searchEdu">
          <button class = "btn col-md-2 btn-primary" (click) = "searchEdu()"><i class="nc-icon nc-zoom-split mr-1"></i> Tìm kiếm</button>
        </form>
        <!-- <div class = "col-md-12 d-flex justify-content-center align-items-center">
            <button *ngIf="!toggleSearch" class = "btn btn-primary d-flex justify-content-center" style="height: 36px;" (click)="clickSearch()"><i class="nc-icon nc-minimal-down mr-1"></i> Tìm kiếm nâng cao</button>
            <button *ngIf="toggleSearch" class = "btn col-md-2 btn-primary" style="height: 36px;" (click)="clickSearch()"><i class="nc-icon nc-minimal-up mr-1"></i><label> Thu gọn</label></button>
        </div>
        <div *ngIf="toggleSearch">
          <div class = "col-md-12 d-flex justify-content-between align-items-center p-0">
            <div class="col-md-3">
              <p class = "mb-1">Thời gian cập nhật</p>
              <select class="form-control">
                <option>Gần nhất</option>
                <option>Xa nhất</option>
              </select>
            </div>
            <div class="col-md-3">
              <p class = "mb-1">Ngành nghề</p>
              <select class="form-control">
                <option>Tất cả ngành nghề</option>
                <option>Công nghệ thông tin</option>
                <option>Lập trình Web</option>
                <option>4</option>
              </select>
            </div>
            <div class="col-md-3">
              <p class = "mb-1">Vị trí công ty</p>
              <select class="form-control">
                <option>Tất cả vị trí</option>
                <option>Cầu Giấy</option>
                <option>Nam Từ Liêm</option>
                <option>Hai Bà Trưng</option>
              </select>
            </div>
            <div class="col-md-3">
              <p class = "mb-1">Loại hình làm việc</p>
              <select class="form-control">
                <option>Tất cả</option>
                <option>Fulltime</option>
                <option>Partime</option>
              </select>
            </div>
          </div> -->
          <!-- <div class = "col-md-12 d-flex justify-content-center align-items-center">
            <button class = "btn col-md-2" style="height: 36px;"><i class="nc-icon nc-zoom-split mr-1"></i><label> Tìm kiếm</label></button>
        </div> -->
        <!-- </div>     -->
    </div>
</div>
<div class="row"> 
    <div class="card col-md-12 pb-3" *ngFor="let educationItem of listSeminar"> 

          <div class = "card-body d-flex justify-content-between" >
              <div class="col-md-2">
                  <!-- <img src="..." class="rounded" alt="..."> -->
                  <div class = "mt-4"><img 
                    src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFx0pzEoOcvEJv49Qe2cDBGaa8nL2UtCsGQ&usqp=CAU"></div>
              </div>
              <div class="col-md-10" style="line-height: 28px;font-size: 16px;">
                  <div class="title">{{educationItem.name}}</div>
                  <div class="company">
                      <span>Đơn vị tổ chức: {{educationItem.company.user.fullName}}</span>
                  </div>
                  <div class="speaker">
                      <span>Diễn giả: {{educationItem.speaker}}</span>
                  </div>
                  <div class="time">
                      <span>Thời gian bắt đầu: 8h00 
                        {{educationItem.startDate | date: "dd/MM/yyyy"}}
                      </span>
                  </div>
                  <!-- <div class="seminar-description">
                      <span>Mô tả: Chia sẻ về tầm quan trọng của UI/UX trong công nghệ hiện nay</span>
                  </div> -->
  
                  <div>
                      <div>Số điện thoại liên hệ: {{educationItem.company.user.mobile}}</div>
                  </div>
                  <div class="d-flex justify-content-end">
                      <button mat-button type="button" class="btn btn-outline-primary" (click)="viewDetail(educationItem)">Xem chi tiết</button>
                      <button type="button" class="btn btn-outline-primary ml-2" *ngIf="!educationItem.registed" (click)="joinEducation(educationItem)">Đăng ký</button>
                      <button type="button" class="btn btn-outline-primary ml-2" *ngIf="educationItem.registed" (click)="showLink(educationItem)">Tham gia</button>
                  </div>
              </div>
      </div>
    </div>
    
</div>