
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div>
        <i class="fas fa-code text-danger" style = "font-size: 36px;"></i>
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      UET JOB
    </a>
  </div>
    <ul class="nav sidebar-primary">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class=" {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
