<h2 mat-dialog-title>Tin tuyển dụng A</h2>
<mat-dialog-content class="mat-typography">
  <div class="d-flex justify-content-center">
    <div class="">
      <div id="profileImage">LA</div>
    </div>
  </div>
    <div class="col-md-10" style="line-height: 28px;font-size: 16px;">
      <div class="title">Thảo luận về UI/UX</div>
      <div class="company">
          <span>Đơn vị tổ chức: Công ty cổ phần misa</span>
      </div>
      <div class="speaker">
          <span>Diễn giả: Công ty cổ phần misa</span>
      </div>
      <div class="time">
          <span>Thời gian diễn ra: 8h30 5/6/2021</span>
      </div>
      <div class="seminar-description">
          <span>Mô tả: Chia sẻ về tầm quan trọng của UI/UX trong công nghệ hiện nay

            chi tiết, cực kỳ chi tiết
          </span>
      </div>
    </div>



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button type="button" class="btn btn-outline-primary ml-2">Đăng ký</button>
</mat-dialog-actions>