<div class = "card  col-md-6">
    <div clsas = "card-header">
        Thông tin cá nhân
    </div>
    <div class = "card-body d-flex justify-content-between">
        <div class = "col-md-3"></div>
        <div class = "col-md-9">
                <p class = "col-md-4"> Mã sinh viên: 17020708</p>
                <p>Họ và tên: Nguyễn Ngọc Giỏi</p>
           
                <p class = "col-md-4">Ngày sinh: 27/12/1999</p>
            <p>Giới tính: Nữ</p>
            
            <p>Địa chỉ email: 17020708@vnu.edu.vn</p>
            <p>Địa chỉ liên lạc: Ngõ 36 Dịch Vọng Hậu, Cầu Giấy, Hà Nội</p>
            <p>Số điện thoại: 0389591353</p>
        </div>
    </div>
</div>
