<div class = " row d-flex justify-content-between" >
  <div class = "col-md-12 pt-3 pl-1 pr-1" *ngFor = "let item of tintd" >
    <div class = "card" >
      <div class = "card-body d-flex col-md-12">
        <div class = "d-flex justify-content-start align-items-center col-md-3 pl-0">
            <img 
            src = "https://static.topcv.vn/company_logos/cong-ty-co-phan-thoi-trang-yody-6030e6f956223.jpg">
        </div>
        <div class = "col-md-9 p-0 position-relative">
          <div class = "col-md-12 p-0 d-flex justify-content-between">
            <div class = " col-md-11 p-0">
                <h6 class = "card-title overflow-hide" title="{{item.newName}}">{{item.newName}}</h6> 
                
              <h6 class = "card-title overflow-hide" title="{{item.companyName}}">{{item.companyName}}</h6>
              <!-- <div class = 'card-text overflow-hide' title="{{item.description}}">{{item.description}}
              </div> -->
                
            </div>
            <div  class = "col-md-1 p-0 d-flex justify-content-end">
              <i class="far fa-heart" style = "font-size: 20px;" *ngIf = "toggle" (click) = "toggleHeart()"></i>
              <i class="fas fa-heart" style = "font-size: 20px;" *ngIf = "!toggle"  (click) = "toggleHeart()"></i>
            </div>
          </div>
          <div class = "d-flex justify-content-between col-md-12 p-0">
            <span><i class="fas fa-dollar-sign"></i> 10 triệu</span>
            <span><i class="fas fa-history"></i> parttime</span>
            <span><i class="fas fa-users"></i> 10 người</span>
          </div>
          <div class = "d-flex justify-content-between col-md-12 p-0 end">
            <span><i class="far fa-clock"></i> Cập nhật 27/03/2021</span>
            <a href="#/news/news-detail">Xem chi tiết</a>
          </div>
        </div>
        
    </div>   
  </div> 
    
  </div>     
